body {
    margin: 0 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    display:flex;
    justify-content: space-between;
    justify-self: center;
    background-color:aquamarine;
    padding: 20px;
}

.menu {
    display:grid;
    position: relative;
    
}

.dropdown {
    position: absolute;
    grid-row: 2 / 2;
    background-color: aquamarine;
    margin: 0;
    padding: 15px;

}

.hidden {
    display: none;
}